{{!-- Header Content --}}
<div class="container-fuild">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>

<div class="container-fuild">
    <div class="card woodPanel-Header2">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h1 class="helloUserText">search for availble beer tasting days...</h1>
                </div>
            </div>
        </div>
    </div>
</div>

    {{!-- Cards that hold available beer tasting times  --}}
<div class="container-fuild">
    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Friday Jan 3, 2020 </h5>
                        <p>total availble chairs:</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>