{{!-- Top Header Content  --}}
<div class="container-fuild">
  <div class="row" id="companyTopNavHeader">
    <div class="col-7"></div>

    {{!-- Nav Bar Items --}}
    <div class="col-5">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="newMemberbtn" href="/newMember">BECOME A MEMBER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="memberLogin" href="/memberLogin">MEMBER LOGIN</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  {{!-- End of header content  --}}

  {{!-- The below is the images under the heeader content --}}
  <div class="container-fuild image-woodPanels">
    {{!-- hedaer tag line --}}
    <div class="row">
      <div class="col-5 image-one"></div>
      <div class="col-6">
        <div class="card text-center" id="headerCard">
          <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
     
          </div> 
        </div>
      </div>
      <div class="col-1"></div>

    </div>

  </div>
</div>
</div>

{{!-- End of displayed images  --}}



{{!-- Footer Container --}}
<footer class="page-footer font-small mdb-color lighten-3 pt-4" id="footer">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <div class="row">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        {{!-- Foot Content  --}}
        <h5 class="font-weight-bold text-uppercase mb-4">The Stout</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
          esse
          quasi, veritatis totam voluptas nostrum.</p>

      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <a href="/">HOME</a>
            </p>
          </li>
          <li>
            <p>
              <a href="/newMember">BECOME A MEMBER</a>
            </p>
          </li>
          <li>
            <p>
              <a href="/memberLogin">MEMBER LOGIN</a>
            </p>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        {{!-- Contact details --}}
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> info@example.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          </li>

        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        {{!-- Social buttons --}}
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook" id="fontAwesomeFooterIcons"></i>
        </a>

        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-twitter" id="fontAwesomeFooterIcons"></i>
        </a>

      </div>
    </div>
  </div>

  {{!-- Copyright  --}}
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a> Stout.com</a>
  </div>
</footer>
{{!-- end of footer --}}



<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/Avada-Kedavra/public/js/FrontEnd.js"