{{!-- This is the nav bar at the top of the page --}}
<div class="container-fuild"  id="nav-Container">
  <ul class="nav justify-content-end" id="nav-bar"">
    <li class="nav-item">
      <a href="/">← Back To Home</a>
    </li>
     <li class="nav-item">
      <a href="/memberLogin">← Back To Home</a>
    </li>
  </ul>
</div>