
<div class="container-fuild">
  
  {{!-- company logo item --}}
  <div class="row" id="companyLgoContent">
    <div class="col-12">
      <div class="image"></div>
    </div>
  </div>

  {{!-- nav bar items  --}}
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills nav-fill" id="navBarContent">
        <li class="nav-item">
          <a class="nav-link active" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="newMemberbtn" href="/newMember">BECOME A MEMBER</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link fas fa-beer" href="/memberLogin"></a>
        </li>
      </ul>
    </div>
  </div>

{{!-- This is the form to create a new profile  --}}
<div class="container">
  <div class="row">
    <div class="offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <h5 class="card-title">Create a Profile to Become a Member</h5>
              <div class="col-1"></div>
              <div class="col-10">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputFirstName">First Name</label>

                      <input type="text" class="form-control" id="inputFirstName" placeholder="ex: john">

                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputLastName">Last Name</label>
                      <input type="text" class="form-control" id="inputLastName" placeholder="ex: smith">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputUserName">Create User Name</label>
                    <input type="text" class="form-control" id="inputUserName" placeholder="BeerBlogger1">
                  </div>

                  <div class="form-group">

                    <label for="inputPassword">Create Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="password">

                  </div>

                  <div class="form-group">
                    <label for="inputFavBeer">Select your favorite beer</label>
                    <select id="inputFavBeer" class="form-control">
                      <option selected>Choose...</option>
                      <option>...</option>
                      <option>...</option>
                      <option>...</option>
                      <option>...</option>
                      <option>...</option>
                    </select> </div>

                  <button type="submit" class="btn btn-primary">Find Beer Now! </button>
                </form>
              </div>

              <div class="col-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  {{!-- Foot Container --}}
  <footer class="page-footer font-small mdb-color lighten-3 pt-4" id="footer">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <div class="row">
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

          {{!-- Foot Content  --}}
          <h5 class="font-weight-bold text-uppercase mb-4">The Stout</h5>
          <p>Here you can use rows and columns to organize your footer content.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
            esse
            quasi, veritatis totam voluptas nostrum.</p>

        </div>

        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="/">HOME</a>
              </p>
            </li>
            <li>
              <p>
                <a href="/newMember">BECOME A MEMBER</a>
              </p>
            </li>
            <li>
              <p>
                <a href="/memberLogin">Login</a>
              </p>
            </li>
          </ul>
        </div>
        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
          {{!-- Contact details --}}
          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> info@example.com</p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            </li>

          </ul>
        </div>

        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
          {{!-- Social buttons --}}
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

          <!-- Facebook -->
          <a type="button" class="btn-floating btn-fb">
            <i class="fab fa-facebook" id="fontAwesomeFooterIcons"></i>
          </a>
          
          <!-- Twitter -->
          <a type="button" class="btn-floating btn-tw">
            <i class="fab fa-twitter" id="fontAwesomeFooterIcons"></i>
          </a>

        </div>
      </div>
    </div>

    {{!-- Copyright  --}}
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a> Stout.com</a>
    </div>
  </footer>
  {{!-- end of footer --}}
