.helloUserText{
    color: white; 
    padding-top: 55px; 
    padding-bottom: 55px; 
}

.woodPanel-Header2{
    background-image: url("../Images/wood_panels.jpg"); 
    width: 100%; 
    background-size: cover; 
    margin-bottom: 15px; 
}