@media screen and (min-width: 1200px) {
    div.image-woodPanels{
        height: 725px; 

      }
}

@media screen and (min-width: 900px) {
    div.image-woodPanels{
        height: 725px; 
      }
}

@media screen and (max-width: 768px) {
    div.image-woodPanels{
        height: 700px; 
      }
}



