/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Global Style Settiings */

body {
  background-color: #fafafa;; 
}

div.logoImage {
  content: url("../Images/scoutlogo.png"); 
  height: 10%; 
  width: 10%; 
  margin-right: 20px; 
}

th {
  text-decoration: underline;
}

/* Footer Styling  */
footer{ 
  background-color: #fafafa;
}

hr {
  background-color: rgb(133, 133, 133); 
}

.btn{
  background-color: rgb(2, 2, 63); 
  border-color: rgb(2, 2, 63); 
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* The below is all used for the home.html file  */
#containerImage{ 
  background-image: url("../Images/Screen\ Shot\ 2019-12-07\ at\ 11.39.30\ AM.png"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 550px; 
}

.homeHeaderJumbotron{
  background-color: transparent; 
  margin-top: 50px; 
}

.homeHeaderh1 {
  color: white; 
  font-family: 'Alatsi', sans-serif;
  font-size: 25px; 
}

.homeHeaderp{
  color: white; 
  font-size: 40px; 
  font-family: 'Raleway', sans-serif;
}

#directionsIcon {
  color: rgb(2, 2, 63); 
}

#phoneIcon {
  color: rgb(2, 2, 63); 
}

/* The below are for the three cards on the home page  */
.threeCards{
  margin-bottom: 20px; 
  padding-top:30px; 
  padding-bottom: 30px; 
  top: -60px; 
}

.firstCard{
  margin-top:20px; 
  text-align: center;
  border-color: transparent; 
}
#linyTextStyle{
  font-family: 'Raleway', sans-serif;
}

.locationCard {
  border-color: transparent; 
}

/* Below this is the image above the Explore beers on the HOME page*/
.plantImage{
  content: url("../Images/plants/threeplants.png"); 
  height: 200px; 
  align-content: center; 
}

/* The below is used for the explore beer cards  */
/* This is the explore arizona card  */
.exploreBeerHeaderCard{
  border-color: transparent; 
  margin-top: 10px; 
  margin-bottom: 30px; 
  background-color: transparent; 
}

#exploeBeerrText{
  font-family: 'Alatsi', sans-serif;
}

/* The below are all of the beer cards */
.exploreBeerCard{
  text-align: center;
  border-color: transparent; 
  margin-right: 10px; 
  background-color: white; 
}

.exploreBeerCard3{
  text-align: center;
  border-color: transparent; 
  margin-right: 10px; 
}

.singleBeerCan1 {
  height: 70%; 
  width: 75%;
  margin-top:15px;  
}

.singleBeerCan3 {
  height: 70%; 
  width: 80%; 
  margin-top: 20px; 
}

#beerCardBody {
  background-color: transparent; 
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* The below is all used for the happyHour.html file  */

.happyHourContainerImage{
  background-image: url("../Images/beer-cheers/Happy-Hour-Cheers-1.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 550px; 
}

.happyHourHeaderJumbotron{
  background-color: rgba(255, 255, 255, 0); 
  border-radius: 20px; 
  padding-left: 10px; 
}

.happyHourHeaderh1{
  color: white; 
  font-family: 'Alatsi', sans-serif;
  font-size: 25px; 
}

.happyHourHeaderp{
  color: white;   
  font-size: 40px; 
  font-family: 'Raleway', sans-serif;
}


/* The below is all used for the beer tables  */

#cardHeaderText{
  background-color: white; 
  font-family: 'Raleway', sans-serif;
  padding-top: 20px; 
  padding-bottom: 20px; 
  font-size: 30px; 
}

#smallpTxtinBeeerCards{
  font-family: 'Raleway', sans-serif;
  margin-top: 10px; 
  margin-bottom: 20px;  
}

th{
  font-family: 'Raleway', sans-serif;
}

#smallText {
  font-size: 12px; 
}