/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Global Style Settiings */

div.logoImage {
  content: url("../Images/scoutlogo.png"); 
  height: 10%; 
  width: 10%; 
  margin-right: 20px; 
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* The below is all used for the home.html file  */


.navRow{
  background-color: transparent; 
}

.homeHeaderJumbotron{
  background-color: transparent; 
}

.btn{
  background-color: rgb(2, 2, 63); 
  border-color: rgb(2, 2, 63); 
}

/* The below are for the three cards on the home page  */
.threeCards{
margin-bottom: 20px; 
}

.firstCard{
  margin-top:20px; 
  text-align: center;
  border-color: transparent; 
}

.locationCard {
  border-color: transparent; 
}